<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: <%= flight.airline %></div><br>
  <div>Airport: <%= flight.airport %></div><br>
  <div>Flight No.: <%= flight.flightNo %></div><br>
  <div>Departure Time: <%= flight.departs %></div><br>
</section>

<input type="submit" value="Add Destination">
  
<%- include('../partials/footer') %>
